@import url('https://fonts.googleapis.com/css?family=Neucha');
$red: #F44336;

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: flex;
    justify-content: center;
}

.activity-generator-view-container {
  .activity-generator-view-heading {
    padding-top: 30px;
    h1 {
      font-family: 'Neucha', serif;
      text-align: center;
      font-size: 50px;
      color: $red;
      font-style: italic;
    }
  }
  .button-container {
    text-align: center;
    margin: 30px;
    padding-top: 30px;
    .button {
      font-weight: normal;
    }
  }
  .activity-container {
      font-size: 40px;
      text-align: center;
      margin: 30px;
      .activity {
        line-height: normal;
      }
  }
}

.main-menu {
  margin: 10px;
}

